.wrap {
    display: flex;
    width: 100%;
}

.child {
    width: 50%;
}

.size {
    margin-bottom:5%;
}

.height {
    height: 300px;
}

.button7 {
    text-align: center;
    display: block;
    margin-top:7%;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(13,110,253);
}
a.button7:hover {
    background: rgb(7, 55, 127);
    color: white;
}

a.button7:active {
  background: rgb(33,147,90);
}

.form {
    margin-left:20%;
    margin-right:20%;
    margin-top: 10%;
}

.button8 {
    text-align: center;
    display: block;
    margin-top:7%;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(13,110,253);
}
a.button8:hover {
    background: rgb(7, 55, 127);
    color: white;
}

a.button8:active {
  background: rgb(33,147,90);
}

div.inrowparent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.inrowchild
{
  background: orange;
  width: 50%;
  padding: 10px;
  margin-right: 5px;
}

.exmpl {
    margin: 0 auto;
    position: relative;
}

.exmpl img {
    height: auto;
    width: 100%;
}

.overtext {
    position: absolute;
    top: 50%;
    left: 50%;
}

.container-1 {

    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px){.container-1{max-width:540px}}
@media (min-width:768px){.container-1{max-width:720px}}
@media (min-width:992px){.container-1{max-width:960px}}
@media (min-width:1200px){.container-1{max-width:1140px}}
@media (min-width:1400px){.container-1{max-width:2000px}}


.monts {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 500;
}

h1.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
}

span.potop {
    color: #0057fa;
}

span.net {
    color: #cc0605;
}

span.num {
    color:#46963f;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 600;
}

li{
  list-style: none;
}

.numer{
  color: #46963f;
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}