.wrap {
    display: flex;
    width: 100%;
}

.child {
    width: 50%;
}

.size {
    margin-bottom:5%;
}

.height {
    height: 300px;
}

.button7 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    margin-top:7%;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #46963f;
}
a.button7:hover {
    color: white;
}


.form {
    margin-left:20%;
    margin-right:20%;
    margin-top: 10%;
}

.exmpl {
    margin: 0 auto;
    position: relative;
}

.exmpl img {
    height: auto;
    width: 100%;
}

.overtext {
    position: absolute;
    top: 50%;
    left: 50%;
}

.container-1 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {

    .container-1 {
        max-width: 540px;
    }

}
@media (min-width:768px){.container-1{max-width:2000px}}
@media (min-width:992px){.container-1{max-width:2000px}}
@media (min-width:1200px){.container-1{max-width:2000px}}
@media (min-width:1400px){.container-1{max-width:2000px}}


.monts {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 500;
}


span.num {
    color:#46963f;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 600;
}

li{
  list-style: none;
}

.numer{
  color: #46963f;
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

ol {
	list-style-type: none;
	counter-reset: num;
	padding: 15px 0 5px 0;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

ol li {
	position: relative;
	margin-top: 5%;
	padding: 0 0 10px 0;
	font-size: 2em;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
ol li:before {
	content: counter(num);
	counter-increment: num;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: -60px;
	width: 50px;
	color: #46963f;
	text-align: center;
	font-size: 2em;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

.main {
    margin-top:15%;
    color: black;
    font-weight:600;
    font-size:2.8em;
}

.counter-l {
    font-size: 4em;
}

.counter-n {
    font-size: 8em;
}

.res {
    margin-top:10%;
}

.logo {
    width: 100px;
    height: 100px;
}

h2.number {
    margin-top: 31px;
}


@media screen and (max-width: 576px) {

    .monts {
        font-size: 0.8em;
    }

    .button7 {
        font-size: 0.5em;
        margin-left: 30%;
        margin-right: 30%;
    }

    ol li {
        font-size: 0.8em;
    }

    .counter-l {
        font-size: 2em;
    }

    .counter-n {
        font-size: 5em;
    }

    .res {
        margin-top: 15%;
    }

    h3.end {
        font-size: 0.8em;
    }

    .wrap {
        margin-top: 0%;
        height: 30px;
    }

    .height {
        height: 150px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }
    .wide {
        width: 60%;
        height: 50px;
    }

    h2.number {
        margin-top: 20px;
    }
}